/* CreateQuestion.css */
.create-question-container {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

.question-input-container {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #666;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.options-container {
  margin-bottom: 20px;
}

.option-input-container {
  margin-bottom: 10px;
}

.add-option-button,
.ask-question-button {
  background-color: #6200ea;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.add-option-button:hover,
.ask-question-button:hover {
  background-color: #3700b3;
}
